extends layout

block content
    h1 Video Dashboard
    each video in videos
        .video
            h2= video.title
            p Uploaded by: #{video.uploader}
            video(width='320' height='240' controls)
                source(src=video.url type='video/mp4')
                | Your browser does not support the video tag.
