extends layout

block content
  h1 Welcome to 2022 FIFA World Cup Video Sharing
  p Share and enjoy video shorts from the 2022 FIFA World Cup with our community!

  p Select an option:
    ul
      li
        a(href='/users/login') Login
      li
        a(href='/users/register') Register
