doctype html
html
  head
    title Video Sharing Platform
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    footer
      p Copyright © Video Sharing Platform
