extends layout

block content
    h1 Login
    if error
        p.error= error
    form(method='POST', action='/users/login')
        div
            label(for='email') Email:
            input(type='email', name='email', id='email', required=true)
        div
            label(for='password') Password:
            input(type='password', name='password', id='password', required=true)
        div
            button(type='submit') Log In
