extends layout

block content
    h1 Share Your Favorite Video Short
    if error
        p.error= error
    form(method="POST", action="newVideo")
        div
            label(for="title") Video Title:
            input(type="text", name="title", id="title", required=true)
            small Enter the title of your video.
        div
            label(for="url") Video URL:
            input(type="text", name="url", id="url", required=true)
            small Enter the full URL to the YouTube video you wish to share.
        div
            button(type="submit") Share Video