extends layout

block content
    h1 Register
    if error
        p.error= error
    form(method='POST', action='/users/register')
        div
            label(for='name') Name:
            input(type='text', name='name', id='name', required=true)
        div
            label(for='email') Email:
            input(type='email', name='email', id='email', required=true)
        div
            label(for='password') Password:
            input(type='password', name='password', id='password', required=true)
        div
            button(type='submit') Register